[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bggAnalytics"]
	path = bggAnalytics
	url = https://github.com/cran/bggAnalytics
