[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bggAnalytics"]
	path = bggAnalytics
	url = https://github.com/jakubbujnowicz/bgganalytics
	shallow = true
	registered = true
